<header>
    <div class="container">
        <a class="logo" asp-controller="Home" asp-action="Index"><img src="images/logo.svg" alt="">bmerketo</a>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
            <a class="link" asp-controller="Products" asp-action="Index">PRODUCTS</a>
            <a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>

            <div class="dropdown">
                <a class="link dropdown-toggle" href="#" role="button" id="account-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="account-dropdown">
                    
                    @if (signInManager.IsSignedIn(User))
                    {
                        <a class="dropdown-item" asp-controller="Account" asp-action="Index">Your Account</a>
                        <a class="dropdown-item" asp-controller="Logout" asp-action="Index">Logout</a>
                    }
                    else
                    {   <a class="dropdown-item" asp-controller="Login" asp-action="Index">Login</a>
                        <a class="dropdown-item" asp-controller="Register" asp-action="Index">Register</a>
                    }
                    
                </div>
            </div>

            <a class="link" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>
