@{
    ViewData["Title"] = "Access was Denied";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />
<div class="d-flex justify-content-center mt-5">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You don't have the right permission to access this page</p>
    </div>

</div>