@model RegisterViewModel

@{
    ViewData["Title"] = "Register a new account";
}

<section class="register-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" enctype="multipart/form-data" novalidate>

            <div asp-validation-summary="ModelOnly" class="form-group error"></div>

            <div class="firstname form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="error"></span>
            </div>

            <div class="lastname form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="error"></span>
            </div>

            <div class="streetname form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" />
                <span asp-validation-for="StreetName" class="error"></span>
            </div>

            <div class="postalcode form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" />
                <span asp-validation-for="PostalCode" class="error"></span>
            </div>

            <div class="city form-group">
                <label asp-for="City"></label>
                <input asp-for="City" />
                <span asp-validation-for="City" class="error"></span>
            </div>

            <div class="mobile form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" />
                <span asp-validation-for="Mobile" class="error"></span>
            </div>

            <div class="company form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" />
                <span asp-validation-for="Company" class="error"></span>
            </div>

            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="error"></span>
            </div>

            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="error"></span>
            </div>

            <div class="confirmpassword form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>

            <div class="profileimage form-group">
                <label asp-for="ProfileImage"></label>
                <input asp-for="ProfileImage" />
                <span asp-validation-for="ProfileImage" class="error"></span>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom checkbox">
                    <label asp-for="TermsAndConditions"></label>
                    <input asp-for="TermsAndConditions" />
                    <span class="checkmark"></span>
                </label>
                <span asp-validation-for="TermsAndConditions" class="error"></span>
            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>