
@inject UserAdminService userAdminService

@{
    ViewData["Title"] = "Backoffice";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />

<section class="admin-profile">
    <div class="container">
        @foreach (var user in await userAdminService.GetUsersAsync())
        {
            <div class="user">
                <div class="name">@user.FirstName @user.LastName</div>
                <div class="email">@user.Email</div>
                <div class="roles">
                    @foreach (var roleName in user.RoleNames)
                    {
                        <span>@roleName</span>
                    }
                </div>
            </div>
        }
    </div>
</section>

