
<section class="mini-featured">
    <div class="container">
        <div class="collection-grid">
           
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/200x122.svg" alt="">
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/200x122.svg" alt="">
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/200x122.svg" alt="">
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/200x122.svg" alt="">
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/200x122.svg" alt="">
            </a>
            <!-- collection-item end -->
        </div>
    </div>
</section>