@model ProductOverviewModel

<section class="product-overview">
    <div class="product-image">
        <div class="item-1">
            <img src="images/Placeholders/501x430.svg" alt="product-image">
        </div>
        <div class="item-2">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
            <img src="images/Placeholders/120x113.svg" alt="">
        </div>
    </div>

    <div class="product-info">
        <h1>Young Star Smart Shoe in Fashion</h1>
        <p>Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <div class="rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <p>16 Reviews</p>
        </div>
        <span class="price">$30.00</span>
        <div class="cart">
            <div class="quantity">
                <button class="minus-btn">-</button>
                <input type="text" class="qty-input" value="1">
                <button class="plus-btn">+</button>
            </div>
            <button class="btn-add-to">
                Add to Cart<i class="add-cart far fa-cart-plus"></i>
            </button>
        </div>

        <div class="in-stock">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
            <p>SKU: N/A</p>
        </div>
        <button class="btn-wishlist">Add to Wishlist</button>
        <p>Category: Table Lamp, Light</p>
    </div>
</section>