<!-- top selling highlights -->
<section class="top-selling-highlights">
    <div class="container">
        <div class="collection-grid">
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/369x295.svg" alt="">
                <div class="body">
                    <div class="title">Table lamp 1562 LTG modal</div>
                    <div class="description">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                    <div class="author">POST BY: ADMIN COMMENTS:13</div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/369x295.svg" alt="">
                <div class="body">
                    <div class="title">Table lamp 1562 LTG modal</div>
                    <div class="description">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                    <div class="author">POST BY: ADMIN COMMENTS:13</div>
                </div>
            </a>
            <!-- collection-item end -->
            <!-- collection-item start -->
            <a href="#" class="collection-item">
                <img src="images/placeholders/369x295.svg" alt="">
                <div class="body">
                    <div class="title">Table lamp 1562 LTG modal</div>
                    <div class="description">Best dress for everyone ed totam velit risus viverra nobis donec recusandae perspiciatis incididuno</div>
                    <div class="author">POST BY: ADMIN COMMENTS:13</div>
                </div>
            </a>
            <!-- collection-item end -->
        </div>
    </div>
</section>
<!-- top selling highlights end-->