@model RegisterViewModel

<section class="register-form">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <form method="post" novalidate>
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <small><span asp-validation-for="FirstName" class="text-danger"></span></small>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <small><span asp-validation-for="LastName" class="text-danger"></span></small>
                    </div>
                     
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <small><span asp-validation-for="Email" class="text-danger"></span></small>

                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <small><span asp-validation-for="Password" class="text-danger"></span></small>

                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small>

                    </div>

                    <div class="mb-3">
                        <label asp-for="StreetName" class="form-label"></label>
                        <input asp-for="StreetName" class="form-control" />
                        <small><span asp-validation-for="StreetName" class="text-danger"></span></small>

                    </div>

                    <div class="mb-3">
                        <label asp-for="PostalCode" class="form-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <small><span asp-validation-for="PostalCode" class="text-danger"></span></small>

                    </div>

                    <div class="mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control" />
                        <small><span asp-validation-for="City" class="text-danger"></span></small>

                    </div>

                    
                    <button type="submit" class="btn btn-succes mt-2">REGISTER</button>

                </form>
            </div>
        </div>
    </div>
</section>
