@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import'../core/_mixins.scss';

.contact-form {
    padding: 20px 0 60px 0;

    @include lg {
        padding: 60px 0;
    }

    .container {
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        @include md {
            border: none;
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        width: 150px;
        margin-bottom: 40px;
        border-bottom: 1px solid $color-dark-5;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "name" "email" "mobile" "company" "message" "button";

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "name email" "mobile company" "message message" "button button";
        }

        .name {
            grid-area: name;
        }

        .email {
            grid-area: email;
        }

        .mobile {
            grid-area: mobile;
        }

        .company {
            grid-area: company;
        }

        .message {
            grid-area: message;
        }

        textarea {
            height: 100px;
            resize: none;
        }

        button {
            grid-area: button;

            @include lg {
                display: flex;
                justify-self: flex-start;
            }
        }
    }
}