@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import'../core/_mixins.scss';

.login-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; 
    width: 60%;
    margin: 0 auto;

    .container {
        border: 1px solid $color-dark-5;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        @include md {
            width: 50%; 
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "message" "email" "password" "rememberme" "button";


        .validation-summary-errors {
            grid-area: message;
            margin: 10px 0;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                color: $color-theme-1;
                font-size: 1.2rem;
            }
        }

        .message {
            grid-area: message;
            margin: 10px 0;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .rememberme {
            grid-area: rememberme;
            margin: 10px 0;
        }

        button {
            grid-area: button;

            @include lg {
                display: flex;
                justify-self: flex-start;
            }
        }
    }
}
