@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import'../core/_mixins.scss';

.products {


    .container {
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .header {
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .products-title {
                font-size: 1.5rem;
                font-weight: $font-weight-bold;
                width: 150px;
                margin-bottom: 10px;
                border-bottom: 1px solid $color-dark-5;
            }

            .button {
                color: $color-white;
                background-color: $color-theme-1;
                font-family: $font-poppins;
                padding: 10px;
                text-decoration: none;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: $color-dark-3;
                }
            }

            i {
                margin: 5px;
            }
        }

        .products-grid {
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(5);
            border: 1px solid $color-dark-5;

            .grid-categories {
                background-color: $color-theme-1;
                color: $color-white;
                font-weight: $font-weight-medium;
                font-family: $font-poppins;
                border: 1px solid $color-dark-5;
                font-size: 1.2rem;
                justify-content: space-evenly;
                align-items: center;
                display: flex;
                height: 50px;

                .category {
                    margin: 40px;
                    flex-basis: 10%;
                }
            }

            .grid-item {
                width: 100%;
                border: 1px solid $color-dark-5;
                margin-right: 50px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;

                .title {
                    margin-left: -100px;
                    font-size: 1.2rem;
                    color: $color-dark-2;
                }

                .description-container {
                    margin-left: -100px;
                    margin-right: -50px;
                    max-height: 80px;
                    max-width: 300px;
                    overflow-y: scroll;

                    .description {
                        margin-left: 20px;
                        overflow: auto;
                    }
                }

                .price {
                    font-size: 1.2rem;
                }

                .category {
                    margin-right: -50px;
                    font-size: 1.2rem;
                }
            }

            .load-more {
                margin: 40px;
                display: flex;
                justify-content: center;
            }
        }
    }
}
